/* mapGen */

section div {
    height: 100px;
    width: 100px;
    float: left;
}

section div.breaker {
    clear: both;
    width: 0px;
    height: 0px;
}

section div.wall {
    background-color: black;
    background-image: url("textures/texture_wall.png");
}

section div.floor {
    background-color: lightgrey;
    background-image: url("textures/texture_floor.png");
}

section div.player {
    background-color: transparent;
    position: relative;
    background-image: url("textures/jotaro.png");
}

section div.enemy {
    background-color: transparent;
    background-image: url("textures/enemyStand.png");
}



