/* mapGen */

section div {
    height: 100px;
    width: 100px;
    float: left;
}

section div.breaker {
    clear: both;
    width: 0px;
    height: 0px;
}

section div.wall {
    background-color: black;
}

section div.floor {
    background-color: lightgrey;
}

section div.player {
    background-color: skyblue;
    position: relative;
}



